body {
  background-color: #f6f6f7;
}

@media (max-width: 650px) {
  .header-h1 {
    font-size: 25px;
  }
}

@media (max-width: 450px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1130px) {
  .Something {
    display: flex;
    flex-direction: column;
  }
  .answers {
    display: flex;
    flex-direction: column;
  }
}

.slide-top {
  -webkit-animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
